@import "mixin/breackpoint";
@import "base/base";
@import "components/nav-item";
@import "widgets/navigation";
@import "components/baner";
@import "widgets/main-header";
@import "widgets/blog";
@import "components/logo";
@import "widgets/blog-weekend";
@import "widgets/newsletter";
@import "widgets/main-button";
@import "widgets/style-footer";

li {
  list-style: none;
}

.overflow {
  overflow: hidden;
}

a {
  text-decoration: none;
}

body {
  font-family: $baseFont;
}

.blog-padding {
  padding-right: 50px;
}

.btn {
  transition: 0.2s;
  &:hover {
    color: $secondary;
    font-weight: 800;
    font-size: 14px;
  }
}
.bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-top: 66%;
}

//Адаптивность
@include breakpoint(desktop) {
  //desktop - 1200px >
}
@include breakpoint(laptop) {
  //laptop - 1199px <
  .container-full, .container, .col {
    padding-right: 0;
    padding-left: 0;
  }
  .footer-right {
    padding-right: 30px;
  }
  .baner {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
  }
  .nav {
    margin-right: 10px;
  }

  .logo {
    margin-left: 10px;
  }
}
@include breakpoint(tablet) {
  //breakpoint - 991px
  .main-baner {
    margin-left: 10px;
    margin-right: 10px;
  }
  .logo {
    padding-left: 10px;
  }
  .nav {
    padding-right: 10px;
  }
  .newsletter {
    margin-right: -10px;
    margin-left: -10px;
  }
}
@include breakpoint(phablet) {
  //phablet - 767px
  .blog-right {
    padding-left: 10px;
  }
  .blog-left {
    padding-right: 10px;
  }
  .newsletter {
    margin-right: -10px;
    margin-left: -10px;
  }
}
@include breakpoint(mobileonlyApple) {
  //mobileonlyApple - 420px
  .bg-image {
    margin-top: 10px;
  }
  .blog .blog-info {
    width: 100%;
  }
  .blog {
    .blog-right {
      padding-left: 0px;
    }
    .blog-left {
      padding-right: 0px;
    }
  }
  .main-baner {
    margin-left: 20px;
    margin-right: 20px
  }
  .blog-lifestyle, .blog-photodiary, .blog-song, .newsletter {
    margin-top: 50px;
  }
  .newsletter {
    margin-right: -20px;
    margin-left: -20px;
    h2 {
      font-size: 25px;
    }
    input {
      padding-right: 0;
      margin-top: 30px;
      max-width: 420px;
      box-sizing: border-box;
      width: 100%;
      height: 20px;
    }
    form {
      padding-right: 60px;
      padding-left: 60px;
    }
  }
  .button {
    margin-top: 100px;
  }
  footer {
    margin-top: 100px;
  }
  .main-header {
    padding-top: 20px;
  }
  .logo {
    padding-left: 20px;
  }
  .nav .nav-item {
    margin-top: 20px;
    margin-right: 25px;
  }
  .blog-weekend {
    margin-top: 30px;
    .blog-info h3 {
      font-size: 25px;
      margin-bottom: 0;
    }
    span {
      margin-top: 5px;
      margin-bottom: 20px;
    }
  }
  .main-baner {
    .baner {
      margin-left: -20px;
      margin-right: -20px;
      height: 100px;
      padding-top: 49%;
    }
  }
  footer {
    padding-top: 20px;
    padding-bottom: 20px;
    .footer-left li {
      display: block;
    }
  }
}
@include breakpoint(mobileonly) {
  //mobileonly - 320px
  .logo {
    margin: 0 0 0 100px;
  }
  .main-header .nav {
    margin-top: 0;
    padding-right: 0;
    margin-right: 0;
    font-size: 10px;
    .nav-item {
      margin-top: 19px;
      a {
        line-height: 20px;
        font-size: 10px;
      }
    }
  }
  .blog-weekend .blog-info h3 {
    font-size: 20px;
    margin-top: 0;
  }
  .blog .blog-info h3 {
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  footer {
    a {
      font-size: 15px;
    }
    .footer-right {
      font-size: 15px;
      padding-right: 15px;
    }
  }
}



