.main-header .col{
  padding-right: 0;
}

.nav-item {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 80px;
  &:last-child{
    margin-right: 0;
  }

  a {
    line-height: 19px;
    color: $main-color;
    font-family: $baseFont;
    font-size: 14px;
    &:hover {
      color: $main-color;
    }
    &:visited {
      color: $main-color;
    }
  }
}