.blog{
  overflow: hidden;
  font-family: $baseFont;

  .blog-right {
    padding-left: 30px;
  }
  .blog-left {
    padding-right: 30px;
  }
  .blog-info{
    float: left;
    width:50%;
    p{
      font-size: 13px;
      opacity: 0.5;
      text-transform: uppercase;
    }
    h3{
      display: block;
      margin-top: 30px;
      margin-bottom: 40px;
      font-size: 30px;
    }
    span{
      display: block;
      font-size: 14px;
      line-height: 24px;
    }
  }
}
.blog-lifestyle, .blog-photodiary, .blog-song, .newsletter{
  margin-top: 133px;
  p{
    display: block;
    margin-top: 28px;
  }
}
