.button{
  text-align: center;
  margin-top: 166px;
  a{
    background: transparent;
    border: 1px solid $main-color;
    font-size: 20px;
    color: $main-color;
    //margin-right: 63px;
    padding: 16px 33px 16px 33px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    &:hover{
      background: $main-color;
      padding: 20px 37px;
      color: $white;
    }
  }
}