.newsletter{
  background: $newsletter;
  padding: 50px 0;
  text-align: center;
  h2{
    font-size: 30px;
  }
  input{
    border: none;
    background: transparent;
    border-bottom: 1px solid $black;
    outline: none;
    padding-right: 230px;
    margin-top: 94px;
    height: 34px;
  }
  //PLACEHOLDER
  ::-webkit-input-placeholder {font-family: $baseFont; font-size: 14px; color: $main-color;}
  ::-moz-placeholder          {font-family: $baseFont; font-size: 14px; color: $main-color;}/* Firefox 19+ */
  :-moz-placeholder           {font-family: $baseFont; font-size: 14px; color: $main-color;}/* Firefox 18- */
  :-ms-input-placeholder      {font-family: $baseFont; font-size: 14px; color: $main-color;}
}