footer{
  font-family: $baseFont;
  background: $newsletter;
  margin-top: 166px;
  padding-top: 40px;
  padding-bottom: 40px;

  a{
    color: $black;
  }
  .footer-left{
    float: left;
    li{
      margin-left: 15px;
      display: inline-block;
    }
  }
  .footer-right{
    float: right;
    span{
    }
    ul{
      display: inline-block;
      li{
        margin-left: 15px;
        display: inline-block;
      }
    }
  }
}
