.blog-weekend{
  margin-top: 105px;
  .blog-info{
    float: none;
    width: 100%;
  }
  h3{
    line-height: 80px;
  }
  span{
    display: block;
    margin-top: 7px;
    margin-bottom: 44px;
  }
  a{
    font-size: 13px;
    opacity: 0.5;
    text-transform: uppercase;
  }
}