@font-face {
	font-family: 'Ubuntu',  sans-serif;
	src: url('../fonts/Ubuntu/Ubuntu-Light.eot');
	src: url('../fonts/Ubuntu/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu/Ubuntu-Light.woff') format('woff'),
		url('../fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype'),
		url('../fonts/Ubuntu/Ubuntu-Light.svg#Ubuntu-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot');
	src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff') format('woff'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf') format('truetype'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Inconsolata';
	src: url('../fonts/Inconsolata/Inconsolata-Regular.eot');
	src: url('../fonts/Inconsolata/Inconsolata-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Inconsolata/Inconsolata-Regular.woff') format('woff'),
		url('../fonts/Inconsolata/Inconsolata-Regular.ttf') format('truetype'),
		url('../fonts/Inconsolata/Inconsolata-Regular.svg#Inconsolata-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}