%template-util {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.container-full {
  max-width: 1140px;
  margin: 0 auto;
  @extend %template-util;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  @extend %template-util;
}

.row {
  width: 100%;
  margin-left: -30px;
  margin-right: -30px;
}

.col {
  @extend %template-util;
}

.clear-fix {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}
