//Backgrounds
$newsletter: #f0f0f0;

//Fonts
$baseFont: 'Playfair Display';
$baseLogo: 'Inconsolata';
$baseUbuntu: 'Ubuntu';


//Colors
$main-color: #626262;
$blog-category: #626262;
$black: #000000;
$white: #ffffff;
$secondary: red;